<h1>Update an Owner</h1>

<form action="/owners/<%= @owner.id %>" method="post">
  <label>Owner Name:</label>
  <br></br>
  <input type="text" name="owner[name]" id="owner_name" value="<%= @owner.name %>">
  <br></br>

  <label>Choose an Existing Pet:</label>
  <br></br>
  <% Pet.all.each do |pet| %>
  <input type="checkbox" name="owner[pet_ids][]" value="<%= pet.id %>" id="<%= pet.id %>" <%= 'checked' if @owner.pets.include?(pet)%> >
  <%= pet.name %>
  <% end %>
  <br></br>

  <label>Or...Create a New Pet:</label>
  <br></br>
  <label>Pet Name:</label>
  <br></br>
  <input type="text" name="pet[name]" id="pet_name">
  <br></br>

  <input type="submit" value="Update Owner">
</form>
